strong {
  font-weight: bold;
}

.whatsapp-icon {
  display: block;
  position: fixed;
  bottom: 5%;
  right: 10%;
  font-size: 3rem;
  opacity: 0.6;
  color: #d49523;
  z-index: 10;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.whatsapp-icon:hover {
  color: #128C7E;
  -webkit-transition: color 1s;
  transition: color 1s;
}

#Navbar {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1rem;
  vertical-align: bottom;
  font-family: 'Poppins';
  font-weight: normal;
  width: 60%;
  height: 5vh;
  margin-top: 4vh;
  overflow-x: visible !important;
}

#Navbar .logo {
  height: 70%;
  min-height: 3rem;
}

#Navbar a {
  text-decoration: none;
  color: #d49523;
  margin-left: 1rem;
  cursor: pointer;
}

#Navbar a:hover {
  font-weight: bold;
  -webkit-transition: font-weight 1s;
  transition: font-weight 1s;
}

#Navbar .hamburguer {
  display: none;
}

nav {
  display: none;
}

#Banner {
  background-image: url(/src/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
}

#Banner .texto {
  width: 40%;
  color: #fff;
}

#Banner .texto h3 {
  pointer-events: none;
  color: #d49523;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  line-height: 2rem;
  overflow: visible;
}

#Banner .texto p {
  padding: 2rem 0 2rem 0;
  font-size: 1rem;
  width: 80%;
  line-height: 1rem;
}

#Banner .texto .lista {
  font-size: 0.8rem;
}

#Banner .faixa-left {
  width: 25%;
  position: absolute;
  left: 0;
  top: 30%;
  -webkit-animation: slide-bl 6s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate-reverse both;
  animation: slide-bl 6s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate-reverse both;
}

#Banner .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: 3;
}

#Banner .redes .phone {
  text-decoration: none;
  color: #fff;
  overflow: visible;
  border-radius: 0;
  padding-bottom: 8rem;
  width: 15rem;
  font-size: 0.7rem;
}

#Banner .redes .phone p {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

#Banner .redes .icon {
  background-color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 50px;
  color: #d49523;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1rem;
}

#Banner .redes .icon i {
  vertical-align: middle;
  padding: 0.5rem;
}

#Banner .logo {
  display: none;
}

.faixa-right {
  width: 30%;
  position: absolute;
  right: 0;
  top: 70vh;
}

#Sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 60vh;
  overflow-y: hidden;
}

#Sobre img {
  position: absolute;
  width: 20vw;
  height: auto;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#Sobre .phone-bg {
  width: 25vw;
  height: auto;
  -webkit-transform: translateX(-5vw);
          transform: translateX(-5vw);
}

#Sobre .texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 40%;
  padding-top: 10rem;
  padding-bottom: 10rem;
  z-index: 3;
}

#Sobre .texto h2 {
  color: #483b31;
  font-weight: bold;
  text-align: left;
  font-size: 2rem;
  line-height: 2rem;
  overflow: visible;
}

#Sobre .texto p {
  color: #483b31;
  font-size: 0.8rem;
  padding-top: 2rem;
}

#Especialidades {
  background-color: #80006c;
  min-height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#Especialidades h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  font-weight: normal;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#Especialidades .servicos {
  color: #d49523;
  font-weight: bold;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 50%;
}

#Especialidades p {
  width: 60%;
  color: #fff;
  padding-bottom: 2rem;
}

#Especialidades img {
  width: 100%;
  height: auto;
}

#Produtos {
  /* GRID */
  /* COLUMNS */
  /* CLEARFIX */
  /* GENERAL STYLES FOR BOX AND OVERLAY */
  /* SLIDE UP */
}

#Produtos .grid {
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
}

#Produtos .four {
  width: 30%;
}

#Produtos .large {
  width: 40%;
}

#Produtos .col {
  display: block;
  float: left;
  margin: 0;
}

#Produtos .col:first-of-type {
  margin-left: 0;
}

#Produtos .cf:before,
#Produtos .cf:after {
  content: " ";
  display: table;
}

#Produtos .cf:after {
  clear: both;
}

#Produtos .cf {
  *zoom: 1;
}

#Produtos .box {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#Produtos .original img {
  height: 80%;
}

#Produtos .original .title {
  color: #fff;
}

#Produtos .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#Produtos .Produtos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Produtos .Produtos h1 {
  text-align: right;
  padding-right: 2rem;
  font-size: 3rem;
  line-height: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  position: relative;
  font-weight: bold;
  overflow: hidden;
}

#Produtos .Displays {
  background-color: #740062;
}

#Produtos .Baterias {
  background-color: #c68b20;
}

#Produtos .Peliculas {
  background-color: #ce9122;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Produtos .Pulseiras {
  background-color: #fff;
}

#Produtos .Pulseiras .overlay > p {
  color: #483b31;
}

#Produtos .Cabos {
  background-color: #2d2d2d;
}

#Produtos .slide-up .overlay {
  background-color: inherit;
  line-height: 1rem;
  color: #fff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: transform 0.5s ease-out;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  padding-top: 2rem;
}

#Produtos .slide-up .overlay p {
  overflow: hidden;
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

#Produtos .slide-up .overlay .content-title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 1rem;
}

#Produtos .slide-up .box:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#Contato {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9e8e8;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
}

#Contato h2 {
  font-size: 3rem;
  font-weight: 900;
}

#Contato a {
  text-decoration: none;
  color: #483b31;
}

#Contato .redes i {
  color: #80006c;
  font-size: 2rem;
  padding-bottom: 1rem;
}

#Contato .redes .title {
  color: #d49523;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#Contato .adress i {
  color: #d49523;
  font-size: 2rem;
  padding-bottom: 1rem;
}

#Contato .adress .title {
  color: #80006c;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

#Contato .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#Contato .content .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d49523;
}

footer img {
  height: 1rem;
  padding: 0.6rem;
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */