$color-primary: #d49523;
$color-secondary: #483b31;
$color-pink: #80006c;

strong{
    font-weight: bold;
}

.whatsapp-icon{
    display: none;
}

#Navbar{
    display: none;
    //display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    vertical-align: bottom;
    font-family: 'Poppins';
    font-weight: normal;
    width: 60%;
    height: 5vh;
    margin-top: 4vh;
    overflow-x: visible !important;

    .logo{
        height: 70%;
        min-height: 3rem;
    }

    a{
        text-decoration: none;
        color: $color-primary;
        margin-left: 1rem;
        cursor: pointer;
    }
    a:hover {
        font-weight: bold;
        transition: font-weight 1s;
    }

    .hamburguer{
        display: none;
    }

}

nav{
    display: none;
}

#Banner{
    background-image: url(/src/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;

    display: flex; 
    justify-items: center; 
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow-y: hidden;

    .texto{

        width: 40%;
        color: #fff;

        h3{
            pointer-events: none;
            color: $color-primary;
            font-weight: bold;
            text-align: left;
            font-size: 2rem;
            line-height: 2rem;
            overflow: visible;
        }

        p{
            padding: 2rem 0 2rem 0;
            font-size: 1rem;
            width: 80%;

            br{
                margin: 2rem;
            }
        }

        .lista{
            font-size: 0.8rem;
        }
    }

    .faixa-left{
        width: 25%;
        position: absolute;
        left: 0;
        top: 30%;

        -webkit-animation: slide-bl 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate-reverse both;
        animation: slide-bl 6s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate-reverse both;
    }

    .redes{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 10%;
        top: 40%;
        z-index: 3;

        .phone{
            p{
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
            }
            text-decoration: none;
            color: #fff;
            overflow: visible;
            border-radius: 0;
            padding-bottom: 8rem;
            width: 15rem;
            font-size: 0.7rem;
        }

        .icon{
            background-color: white;
            width: 2rem;
            height: 2rem;
            font-size: 1rem;
            border-radius: 50px;
            color: $color-primary;
            text-align: center;
            align-self: center;
            margin-top: 1rem;

            i{
                vertical-align: middle;
                padding: 0.5rem;
            }
        }
    }

    .logo{
        display: none;
    }
    
}

.faixa-right{
    width: 30%;
    position: absolute;
    right: 0;
    top: 70vh;
}

#Sobre{
    display: flex; 
    position: relative;
    flex-direction: row;
    justify-items: center; 
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 60vh;
    overflow-y: hidden;

    img{
        position: absolute;
        width: 20vw;
        height: auto;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
    }

    .phone-bg{
        width: 25vw;
        height: auto;
        transform: translateX(-5vw);
    }

    .texto{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 40%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        z-index: 3;

        h2{
            color: $color-secondary;
            font-weight: bold;
            text-align: left;
            font-size: 2rem;
            line-height: 2rem;
            overflow: visible;
        }

        p{
            color: $color-secondary;
            font-size: 0.8rem;
            padding-top: 2rem;
        }
    }

}

#Especialidades{
    background-color: #80006c;
    min-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        text-align: center;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        font-weight: normal;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .servicos{
        color: $color-primary;
        font-weight: bold;
        align-self: flex-start;
        width: 50%;
    }

    p{
        width: 60%;
        color: #fff;
        padding-bottom: 2rem;
    }

    img{
        width: 100%;
        height: auto;
    }

}

#Produtos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vw;

    .container {
        display: grid;
        grid-template-columns: 1.4fr 0.8fr 0.8fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0%;
        grid-auto-flow: row;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-areas:
          ". . ."
          ". . .";
        width: 80%;
        height: 100%;
        
    }

    h2{
        font-size: 3rem;
    }

    p{
        color: #fff;
    }

    div{
        width: 100%;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        position: relative;
        align-content: center;
        justify-content: center;

        .title{
            text-align: center;
        }

        img{
            width: auto;
            height: 80%;
        }
    }

    .content {
        opacity: 0;
        font-size: 0.8rem;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background-color: inherit;
        width: 100%;
        height: 100%;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;

        .text {
            position: relative;
            opacity: 1;
            transition-delay: 0s;
            transition-duration: 0.4s;
            text-align: left !important;
            bottom: 1rem;
            padding: 1rem;
            width: 80%;
            height: 70%;
            vertical-align: top;

            .title{
                font-size: 1.2rem;
                font-weight: bold;
                padding-bottom: 1rem;
            }
        }
    }

    .content:hover {
        opacity: 0.9;

        .content-text {
            opacity: 1;
            transform: translateY(3rem);
            -webkit-transform: translateY(3rem);
        }
    }

    .Produtos{
        h2{
            text-align: right;
            padding-right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            position: relative;
            font-weight: bold;
        }
    }

    .Displays{
        background-color: #740062;
    }

    .Baterias{
        background-color: #c68b20;
    }

    .Peliculas{
        background-color: #ce9122;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img{
            width: 60%;
            height: auto;
        }
    }

    .Cabos{
        background-color: #2d2d2d;
    }
    
}

#Contato{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 100%;
    align-items: center;
    background-color: #e9e8e8;
    padding-top: 3rem;
    padding-bottom: 3rem;

    h2{
        font-size: 3rem;
        font-weight: 900;
    }

    a{
        text-decoration: none;
        color: $color-secondary;
    }

    .redes{
        i{
            color: $color-pink;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        .title{
            color: $color-primary;
            font-weight: bold;
            padding-bottom: 0.5rem;
        }
    }

    .adress{
        i{
            color: $color-primary;
            font-size: 2rem;
            padding-bottom: 1rem;
        }

        .title{
            color: $color-pink;
            font-weight: bold;
            padding-bottom: 0.5rem;
        }
    }


    .content{
        display: flex;
        flex-direction: row;
        width: 60vw;
        justify-content: space-around;
        margin-top: 2rem;
        margin-bottom: 5rem;

        .column{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;

    img{
        height: 1rem;
        padding: 0.6rem;
        vertical-align: middle;
    }
}


  